@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Be+Vietnam+Pro:wght@300&family=Cormorant&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');

body {
    background-color: #219dbc37;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    text-shadow: rgb(47, 200, 255) 0px 0px 10px;
}

h2 {
    font-family: 'Rubik Scribble';
}

p {
    font-family: 'Afacad', sans-serif;
}

nav {
    float: right;
    align-items: center;
    text-align: center;
}

header h1 {
    float: left;
    margin-left: 35px;
}

header.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffdf8e;
    width: 100%;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

[id]::before {
    display: block;
    content: " ";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
    pointer-events: none;
}

nav ul {
    list-style-type: none;
    margin: 0px 60px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 15px 25px;
    padding-top: 23px;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Afacad", sans-serif;
}

#dratini {
    float: right;
    margin-top: -6em;
    margin: right 20px;
}

.home {
    margin-top: 7em;
    margin-left: 35px;
    margin-right: 20px;
}

.statstitle {
    margin-left: 35px;
    margin-right: 20px;
}

#ourgames {
    margin-left: 35px;
    margin-right: 20px;
}

.stats-container {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    display: flex;
    align-items: center;
    text-shadow: #fac229 0px 0px 10px;
}

.stats-container p {
    font-family: inherit;
    text-shadow: none;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(3, 188, 255);
    background-color: rgba(47, 200, 255, 0.214);
}

.stats-card {
    background-color: rgba(119, 184, 249, 0.337);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 70px;
}
#ourgames-description {
    margin-left: 33px;
}
#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card h2 {
    font-size: 1.3em;
    text-shadow: rgb(47, 200, 255) 0px 0px 10px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #fac229;
    background-color: #fae8d6;
}

#button-container {
    text-align: center;
}


button {
    font-family: 'Afacad', sans-serif;
    font-weight: bold;
    font-size: large;
    border: 1px solid #006090;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    box-shadow: 5px 5px 4px #00609077;
    cursor: pointer;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}