@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    /*by resetting these values, you ensure a consistent starting point across browsers*/
    padding: 0;
    font-family: 'Cabin';
    background-color: #758190;
}

.topnav {
    overflow: hidden;
    display: flex;
    background-color: #7dcbff;
    /* Change to a color that fits your scheme */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.topnav h1 {
    margin: 0;
    font-size: 24px;
    /* Adjust font size */
    color: #ecf0f1;
    /* Adjust font color */
}

.topnav a.nav-link {
    float: left;
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.topnav a.nav-link:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.nav-link.active {
    background-color: #2196F3;
    color: white;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    /* Float the search input to the right */
    padding: 6px;
    /* Padding for the search input */
    margin-top: 8px;
    /* Margin from the top */
    margin-right: 45px;
    /* Margin from the right */
    border: none;
    /* Remove border */
    border-radius: 3px;
    font-size: 17px;
    width: 300px;
    
}

@media screen and (max-width: 600px) {
    .topnav {
        flex-direction: column;
        /* Stack items vertically on small screens */
        align-items: flex-start;
        /* Align items to the start of the container */
        height: 70px;
    }
    .home-container {
        margin-top: 70px; /* Adjust this value based on your design for smaller screens */
    }
    .topnav a,
    .topnav input[type=text] {
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

#tentacles {
    width: 40px;
}

.home-container {
    margin-top: 15%; 
}

.stats-container {
    display: flex;
    align-items: center;
    /*is this even doing anything bc of wrap?*/
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}