@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Be+Vietnam+Pro:wght@300&family=Cormorant&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');

body {
    background-color: #219dbc37;
    font-size: 1.3em;
}

h1{
    font-family: 'Rubik Doodle Shadow', sans-serif;
    text-shadow: #7fcef5 0px 0px 10px;
}
h2{
    font-family: 'Rubik Scribble';
}
p {
    font-family: 'Afacad', sans-serif;
}

#tentacles {
    width: 50px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #ffdf8e;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
#dratini {
    float: right;
    margin-top: -6em;
}
.home {
    margin-top: 8em;
}


.stats-container {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    display: flex;
    align-items: center;
    text-shadow: #fac229 0px 0px 10px;
}
.stats-container p {
    font-family: inherit; /* Inherit font-family from the parent container */
    text-shadow: none;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(73, 209, 255);
}

.stats-card {
    background-color: #219dbc56;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #fac229;
    background-color: #fae8d6;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Afacad', sans-serif;
    font-weight: bold;
    font-size: large;
    border: 3pcx solid #006090;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    box-shadow: 5px 5px 4px #00609077;
    cursor: pointer;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}